.card-busca {
  margin-bottom: 20px;
  height: 56.3px;

  .buscar {
    width: 100%;
  }

  .icone-busca {
    margin-left: 5px;
  }

  .botao-adicionar {
    margin-top: 10px;
    width: 70%;
    padding: 6.4px 15px 6.4px 15px;
    background-color: #096DD9 !important;
    color: #FFFFFF !important;
  }
}
